/* Colores principales */
:root {
    --primary-color: #f4cac0;  /* Rosa claro */
    --secondary-color: rgb(55, 26, 66);  /* Morado oscuro */
    --accent-color: #944393;   /* Color de acento para botones */
    --hover-color: #45a049;    /* Color del botón en hover */
    --text-color: #ffffff;     /* Texto blanco */
    --heading-color: rgb(210, 166, 251); /* Color para títulos */
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; /* Asegura que esté por encima del contenido */
}

/* Ajuste del cuerpo para compensar la navbar fija */
body {
    padding-top: 70px; /* Deja espacio para la navbar fija */
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));  
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--text-color);
}

.nav-link {
    font-size: 1.1rem;
    padding-right: 15px;
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

/* Estilo del título */
h1 {
    width: 100%;
    text-align: center;
    color: var(--heading-color);
    padding: 10px;
    font-size: 2rem;
}

/* Estilo del formulario */
form {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    opacity: 0.9;
}

/* Estilo para las etiquetas */
label {
    display: block;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 8px;
}

/* Estilo para los inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo para el botón */
button {
    width: 100%;
    padding: 12px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover del botón */
button:hover {
    background-color: var(--hover-color);
}

/* Ajuste para mejor visualización en dispositivos pequeños */
@media (max-width: 600px) {
    form {
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}
