<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="static/css/styleRegister.css">
    <script src="static/js/appRegister.js"></script>
</head>
<body>
    <form>
        <h1> Registro</h1>
        <label> Id </label> <input> <br> <br>
        <label> Nombre </label> <input> <br> <br>
        <label> Apellido </label> <input> <br> <br>
        <label> Fecha de nacimiento </label> <input> <br> <br>
        <button onclick="register_user()"> Registrate </button>
    </form> 
</body>
</html>
